html, body{
    height: 100%;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
a{color: white;}
a:hover{
    text-decoration: none;
    color: white;
}
#home{
    background-image: url("cover.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    background-color: black;
    
}
.mobile-home-button{
    padding-top: 110%;
    display: none;
}
.home-button{
    padding-top: 35%;
}
#home button:hover{
    background: white;
}
#home button{
    background: rgba(255,255,255,0.7);
    border: rgba(255,255,255,0.7);
}
#bio{
    padding-top: 10%;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    height: 80%;
}
#bio .row{
    background: black;
    height: 100vh;
    width: 100%;
    margin: 0;
}
.description{
    padding-top: 35%;
}
#bio h1{
    font-weight: bolder;
    font-size: 5.5rem;
}
#bio h2{
    font-size: 2.1rem;
    font-weight: 600;
}
.cutting-image{
    height: auto;
    width: 100%;
}
#gallery{
    padding-top: 30px;
}

.social-item{
    color: white;
}
.social-item:hover{
    font-weight: 800;
}

.instafeed-image-square {
    position: relative;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
  }
  
  .instafeed-image-square img {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    
  }
  .instafeed-image-square.with-background {
    background-size: cover;
    background-position: center;
  }
  .image-boxes {
    display: flex;
    flex-direction: row;
  }
  
  .image-boxes  > * {
    background: transparent;
    border: none;
    flex: 1;
    margin: 0rem 0rem;
    position: relative;
  }
  
.image-box > img {
    width: 100%;
  }
.image-box a div:hover{
    opacity: 0.6;
    transition: 0.2s;
}


footer{
    background-color:black;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 15%;
}

footer p{
    font-size: 0.9rem;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: none;
    color: white;
    font-weight: 800;

}
@media screen and (max-width: 1024px) {
    .description{
        padding-top: 23%;
    }
}
@media screen and (max-width: 990px) {
    #home{
     background-size: cover;
    }
    .description{
        padding-top: 0%;
        padding-bottom: 25px;
    }
    .cutting-image {
        height: auto;
        width: 65%;
    }
    #gallery{
        padding-top: 30%;
    }
    .home-button{
        padding-top: 50%;
    }

}
@media screen and (max-width: 768px) {
    .home-button{
        padding-top: 65%;
    }
    #gallery{
        padding-top: 75%;
    }
}
@media screen and (max-width: 540px) {
    .home-button{
        display: none;
    }
    .mobile-home-button{
        display: block;
    }
    
    .description{
        padding-bottom: 5%;
    }
    #bio h1{
        font-size: 4rem;
    }
    #bio h2 {
        font-size: 1.3rem;
    }
    .cutting-image {
        height: auto;
        width: 90%;
    }

    #gallery{
        padding-top: 75%;
    }
    .social-item{color: black}
    .social-links{justify-content: center;}
    footer .social-item{
        color: white;
    }
}